.section1{
    display: flex;
    flex-direction: column;
    
}
.section1 h1{
    color: var(--azul);
    margin-top: 2rem;
    text-transform: capitalize;
}
.section1 p{
    color: var(--gris);
    text-align: end;
    font-weight: 700;
}

.id-pokemon{
    color: var(--gris);
    font-size: 700;
}

.about h3{
    text-decoration-line: underline;
    
}

.abouts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.abouts p{
    margin-top: 2rem;
    color: var(--gris);
}

.stat {
    margin-top: 2rem;
}


.stats p{
    margin-top: 2rem;
    color: var(--gris);
}

.stats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



